<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="ShareMemory.Dics" value="Dic1, Dic2, Dic3"/>
    <add key="ShareMemory.Queues" value="Queue1, Queue2, Queue3"/>
  </appSettings>
</configuration>